/* 公共部分 */
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	color:#000;
}
.show{
	display: hidden;
}
.hide{
	display: block;
}
/* 背景图 */
body{
	margin: 0;
	background: #000 url(../img/shitou.jpg) no-repeat center center;
	background-attachment: scroll;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
/*各页面定位*/
.page{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
/* 内容:导航栏 */
.nav{
	width: 100%;
	line-height: 3.125rem;
	background-color: #000;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
.nav ul{
	display: flex;
	justify-content: center;
}
.nav ul li{
	padding: 0 2%;
	/* cursor: pointer; */
	border-left:1px solid #333;
}
.nav ul :nth-child(5){
	border-right: 1px solid #333;
}
.nav ul li a{
	display: inline-block;
	line-height: 3.125rem;
	color:#f0f0f0;
	border: none;
}
/*共同样式*/
.content_title{
	font-weight: 800;
	font-size: 2.2rem;
}
.detail_content{
	width: 30%;
	font-size: 1.3rem;
}
/* 内容:第一页 */
.pageOne div{
	width: 80%;
	color:#fff;
	font-size: 5.5rem;
	font-family: "华文行楷";
	text-shadow: 0 1px hsl(0, 0%, 85%),0 2px hsl(0, 0%, 80%),0 3px hsl(0, 0%, 75%),0 4px hsl(0, 0%, 70%),0 5px hsl(0, 0%, 65%),0 5px 10px black; 
	position:absolute;
	transform: translate(-50%,-50%);
}
.pageOne .firRow{
	top:30%;
	left: -16%;
	opacity: 0;
}
.pageOne .secRow{
	top:70%;
	left: 130%;
	opacity: 0;
	text-align: end;
}
/*第一页动画 */
.pageOneAnimateLf{
	animation: fontLeft 1s ease-in forwards;
	-webkit-animation: fontLeft 1s ease-in forwards;
}
@keyframes fontLeft{
	0%   {left:-16%;opacity: 0;}
	90%  {left:50%;}
	95%  {left:48%;}
	100% {left:50%;opacity: 1;}
}
@-moz-keyframes fontLeft{
	0%   {left:-16%;opacity: 0;}
	90%  {left:50%;}
	95%  {left:48%;}
	100% {left:50%;opacity: 1;}
}
@-o-keyframes fontLeft{
	0%   {left:-16%;opacity: 0;}
	90%  {left:50%;}
	95%  {left:48%;}
	100% {left:50%;opacity: 1;}
}
@-webkit-keyframes fontLeft{
	0%   {left:-16%;opacity: 0;}
	90%  {left:50%;}
	95%  {left:48%;}
	100% {left:50%;opacity: 1;}
}
.pageOneAnimateRt{
	animation: fontRight 1s ease-in 1s forwards;
	-webkit-animation: fontRight 1s ease-in 1s forwards;
}
@keyframes fontRight{
	0%   {left:130%;opacity: 0;}
	90%  {left:50%;}
	95%  {left:52%;}
	100% {left:50%;opacity: 1;}
}
@-moz-keyframes fontRight{
	0%   {left:130%;opacity: 0;}
	90%  {left:50%;}
	95%  {left:52%;}
	100% {left:50%;opacity: 1;}
}
@-o-keyframes fontRight{
	0%   {left:130%;opacity: 0;}
	90%  {left:50%;}
	95%  {left:52%;}
	100% {left:50%;opacity: 1;}
}
@-webkit-keyframes fontRight{
	0%   {left:130%;opacity: 0;}
	90%  {left:50%;}
	95%  {left:52%;}
	100% {left:50%;opacity: 1;}
}
/* 内容:第二页 */
.container{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}
.pageTwo .content{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.pageTwo .container .pst1{
	top: 20%;
}
.pageTwo .container .pst2{
	top: 60%;
	color: #fff;
}
.container td,.container .content_title{
	color: #fff;
}
/* 内容:第三页 */
/* 内容:第四页 */
/* 页面转换动画 */
.pageAnimate{
	position: absolute;
}
.pageAnimateLf{
	left: -6%;
	animation: pageAnimateLeft 1s ease-in forwards;
}
.pageAnimateLf1{
	left: -6%;
	animation: pageAnimateLeft 1s ease-in 1s forwards;
}
.pageAnimateRt{
	left: 100%;
	animation: pageAnimateRight 1s ease-in forwards;
}
.pageAnimateRt1{
	left: 100%;
	animation: pageAnimateRight 1s ease-in 1s forwards;
}
@keyframes pageAnimateLeft{
	0%   {left:-6%; opacity:0;}
	90%  {left:26%;}
	95%  {left:24%;}
	100% {left:26%;opacity:1;}
}
@-webkit-keyframes pageAnimateLeft{
	0%   {left:-6%; opacity:0;}
	90%  {left:26%;}
	95%  {left:24%;}
	100% {left:26%;opacity:1;}
}
@-o-keyframes pageAnimateLeft{
	0%   {left:-6%; opacity:0;}
	90%  {left:26%;}
	95%  {left:24%;}
	100% {left:26%;opacity:1;}
}
@-moz-keyframes pageAnimateLeft{
	0%   {left:-6%; opacity:0;}
	90%  {left:26%;}
	95%  {left:24%;}
	100% {left:26%;opacity:1;}
}
@keyframes pageAnimateRight{
	0%   {left:100%; opacity:0;}
	90%  {left:54%;}
	95%  {left:56%;}
	100% {left:54%;opacity:1;}
}
@-webkit-keyframes pageAnimateRight{
	0%   {left:100%; opacity:0;}
	90%  {left:54%;}
	95%  {left:56%;}
	100% {left:54%;opacity:1;}
}
@-o-keyframes pageAnimateRight{
	0%   {left:100%; opacity:0;}
	90%  {left:54%;}
	95%  {left:56%;}
	100% {left:54%;opacity:1;}
}
@-moz-keyframes pageAnimateRight{
	0%   {left:100%; opacity:0;}
	90%  {left:54%;}
	95%  {left:56%;}
	100% {left:54%;opacity:1;}
}
/*媒体查询*/
@media screen and (min-width: 600px){
	html{
		font-size: 43%;
	}
}
@media screen and (min-width: 750px){
	html{
		font-size: 54%;
	}
}
@media screen and (min-width: 960px){
	html{
		font-size: 69.2%;
	}
}
@media screen and (min-width: 1400px){
	html{
		font-size: 100%;
	}
}